
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --text-color:#2e2b41;
    --accent-color:#1c5c86;
    --base-color:white;
    --input-color:#f1f0f7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins,sans-serif;
    text-align: center;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    gap: 10px;
}
.header{
    font-size: 26px;
    color: var(--text-color);
    text-transform: uppercase;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
form > div{
    display: flex;
    align-items: center;

}
label{
    height: 40px;
    width: 40px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 10px 0 0 10px;
}
input{
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: var(--input-color);
    border: var(--input-color);
    border-radius: 0 8px 8px 0;
    transition: 150ms ease;
    font-family: inherit;
}
input:hover{
    border: 2px solid var(--accent-color);
}
input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);
}
button{
    width: 120px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: var(--accent-color);
    color: var(--base-color);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color: var(--text-color);
}
p{
    margin-top: 10px;
}
p a{
    text-decoration: none;
    color: var(--accent-color);
}
p a:hover{
color: var(--text-color);
}
.forget{
    align-self: flex-end;
    font-size: 13px;
    opacity: 0.7;
    margin: 0;
}
.forget a{
    color: var(--text-color);
}

