
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --text-color:#2e2b41;
    --accent-color:#1c5c86;
    --base-color:white;
    --input-color:#f1f0f7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: Poppins,sans-serif;
text-align: center;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    gap: 10px;
}
.header{
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 26px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
form > div{
    display: flex;
    justify-content: center;
}
label{
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--input-color);
    border-radius:8px 0 0 8px;
    flex-shrink: 0;
}
form input{
    width: 200px;
    height: 40px;
    border: var(--input-color);
    background-color: var(--input-color);
    padding: 10px;
    font-family: inherit;
    border-radius: 0 10px 10px 0;
    transition: 150ms ease;
}
form input:hover{
    border: 2px solid var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);  
}

.button{
    margin-top: 10px;
    width: 120px;
    height: 35px;
    font-family:inherit;
    font-weight: bold;
    border: none;
    background-color: var(--accent-color);
    color: var(--base-color);
    border-radius:50px;
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover{
background-color: var(--text-color);
}
p a{
    text-decoration: none;
    color: var(--accent-color);
    font-family: Poppins, sans-serif;
    transition: 0.3 ease;
}
p a:hover{
color: var(--text-color);
}



