@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text-color:#2e2b41;
    --accent-color:#1c5c86;
    --base-color:white;
    --input-color:#f1f0f7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: Poppins , sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 30px;
    border-radius: 8px;
    gap: 10px;
}
.header{
    font-size: 18px;
    text-transform: uppercase;
    color: var(--text-color);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
form > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    background-color: var(--accent-color);
    border-radius: 10px 0 0 10px;
}
input{
    height: 40px;
    width: 100%;
    font-family: inherit;
    background-color: var(--input-color);
    border: 2px solid var(--input-color);
    padding: 10px;
    border-radius: 0 8px 8px 0;
    transition: 150ms ease;
}
input:hover{
    border: 2px solid var(--accent-color);
}
input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);
}

button{
    width: 100%;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: var(--accent-color);
    color: var(--base-color);
    cursor: pointer;
    transition: 0.3ms ease;
    margin-top: 8px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Poppins , sans-serif ;
    font-weight: bold;
}

button:hover{
    background-color: var(--text-color);
}
p{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--text-color);
}

